/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */




 .heroBanner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10rem 0;
  text-align: center;
  overflow: hidden;
  background-image: url('https://skywalkerch-1303839378.cos.ap-nanjing.myqcloud.com/202307311611612.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orangeBackground {
  background-color: orange;
}
